*.venv
*.py
.venv
.env
*.hcl

# Terraform Files
*.tfstate
*.tfstate.*
*.tfvars
*.bak
*.log

# Ignore Terraform plan files
*.plan

# Ignore .terraform directory (module cache, plugins, etc.)
.terraform/
